// presentation styling for the demonstration.
// not required for the widget

figure {
    margin-bottom: 2rem;
}

figcaption {
    font-weight: 600;
}

.image-zoomable {
    width: 39rem;
    height: auto;
}

.img-fluid {
    width: 100%;
    height: auto;
}