// styling for the demo presentation. 
// not required for the widget


.zoom-example {
    figure {
        width: 500px;
        height: auto;
    }
}


.image-zoom {
    width: 500px;
    height: 400px;

}