// styles for the image zoom widget function
//


// utility mixins
@mixin cursor-grab {
    cursor: grab;
}

@mixin cursor-grabbing {
    cursor: grabbing;
}

// transition used when returning to default non-hover state
@mixin zoom-transition-out {
    transition: all 0.25s ease-in-out;
}


// zoom widget variables


// position of the zoom-indicator element (ie the corner cutout + icon)
$zoom-mark-position-top: 0px;
$zoom-mark-position-right: 0px;


// position the cutout notch at the top right of the element
$zoom-corner-position-top: 0px;
$zoom-corner-position-right: 0px;

$zoom-corner-size: 50px;  // width (in square) of the notch
$zoom-corner-color: rgba(#000000, 0.5);  //color of the notch

// width & height determine size of target hit area, expanded to make larger zone
// min = $zoom-corner-width
$zoom-hit-width: $zoom-corner-size + 40;
$zoom-hit-height: $zoom-corner-size + 40;

// icon glyph
// position the icon at the top right
$zoom-icon-position-x: 6px;
$zoom-icon-position-y: 5px;
$zoom-icon-font-size: 1rem;
$zoom-icon-glyph-color: #FFFFFF;

// transformations when hovering
$zoom-icon-font-size-hover: 1.6rem;
$zoom-corner-size-hover: $zoom-corner-size + 15;


.image-zoomable {
    display: inline-block;
    position: relative;

    // element overlaying the image with magnifying glass glyph
    .zoom-mark {
        z-index: 2;
        display: block;
        position: absolute;
        top: $zoom-mark-position-top;
        right: $zoom-mark-position-right;
        width: $zoom-hit-width;
        height: $zoom-hit-height;

        // css-generated corner 'notch' graphic
        .cutout {
            position: absolute;
            top: $zoom-corner-position-top;
            right: $zoom-corner-position-right;
            border-top: $zoom-corner-size solid $zoom-corner-color;
            border-left: $zoom-corner-size solid transparent;

            @include zoom-transition-out;
        }

        // magnifying glass icon
        .icon {
            display: inline-block;

            position: absolute;
            top: $zoom-icon-position-y;
            right: $zoom-icon-position-x;

            font-size: $zoom-icon-font-size;
            color: $zoom-icon-glyph-color;
            @include zoom-transition-out;
        }
    }

    // animation effect for the zoom icon on hover
    &:hover {
        .zoom-mark {
            .cutout {
                border-top-width: $zoom-corner-size-hover;
                border-left-width: $zoom-corner-size-hover;
                transition: border 0.51s ease-in-out;
            }
            .icon {
                font-size: $zoom-icon-font-size-hover;
                transition: font 0.40s ease-out .11s;
            }
        }
    }
        
    img {
        display: block;

        &::selection {
            background-color: transparent;
        }

        &:hover {
            @include cursor-grab;
        }

        &:active {
            @include cursor-grabbing;
        }
    }
}