// styles for the image zoom widget function
//

@mixin cursor-grab {
    cursor: grab;
}

@mixin cursor-grabbing {
    cursor: grabbing;
}

@mixin zoom-transition-out {
    transition: all 0.3s ease-in;
}

$core-white: #FFF;

$zoom-icon-position-top: 0px;
$zoom-icon-position-right: 0px;

$zoom-cornermarker-width: 50px;
$zoom-cornermarker-color: rgba(#000000, 0.5);
$zoom-icon-glyph:   "\f002";  // fa-search - &#xf002
$zoom-icon-font-size: 1rem;
$zoom-icon-font-size-hover: 1.6rem;



// overrides for the regular figure image border behavior.
// the zoomable version requires a more complicated enveloping of the img. named ".image-zoom"
// turn on the border for the envelope, turn off the border on the figure image.
// position relative in order to make the icon position correctly on load.
.figure-bordered.zoom {
    .image-zoom {
        position: relative;
        display: block; // attempted fix for space underneath

        img {
            border: 0;
        }
    }
}

.image-zoom {
    display: inline-block;

    // bit overlaying the image with "zoom" glyph
    .zoom-glyph {
        z-index: 2;

        display: inline-block;
        position: absolute;
        top: $zoom-icon-position-top;
        right: $zoom-icon-position-right;
        width: 90px;
        height: 90px;

        // 'cut' triangle across corner
//         &::before {
//             content: '';
//             position: absolute;
//             top: 0;
//             right: 0;
//             border-top: $zoom-cornermarker-size solid $zoom-cornermarker-color;
//             border-left: $zoom-cornermarker-size solid transparent;
//         }
        .corner {
            position: absolute;
            top: 0;
            right: 0;
            border-top: $zoom-cornermarker-width solid $zoom-cornermarker-color;
            border-left: $zoom-cornermarker-width solid transparent;
            @include zoom-transition-out;
        }
        // magnifying glass icon
        .icon {
            display: inline-block;
            position: absolute;
            top: 5px;
            right: 6px;
            color: $core-white;
            font-family: FontAwesome;
            font-size: $zoom-icon-font-size;
            content: $zoom-icon-glyph;
            @include zoom-transition-out;
        }
    }

    // small animation effect on hover
    &:hover {
        .zoom-glyph {
            .corner {
                border-top-width: $zoom-cornermarker-width + 15;
                border-left-width: $zoom-cornermarker-width + 15;
                transition: border 0.67s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            }
            .icon {
                top: 5px;
                right: 6px;
                font-size: $zoom-icon-font-size-hover;
                transition: font 0.3s ease-out;
            }
        }
    }
        
    img {
        display: block;

        &::selection {
            background-color: transparent;
        }

        &:hover {
            @include cursor-grab;
        }

        &:active {
            @include cursor-grabbing;
        }
    }
}